In [23]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [24]:
# Import the data
lending_df = pd.read_csv("Resources/lending_data.csv")

In [25]:
lending_df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

# Predicting a suitable modle
In general, a random forest classifier model may perform better than the Logistic Regression model for a working dataset with higher number of features by reducing the risk of overfitting. The given dataset has just eight features.  Therefore, the overfitting may not be an issue in this case and the performances for both models may be similar with random forest model performing a touch better.

In [26]:
col = 'loan_status'
X = lending_df.loc[:, lending_df.columns != col]
y = lending_df['loan_status']

In [27]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.2, random_state=42)

In [28]:
# Train a Logistic Regression model print the model score
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=42).fit(X_train, y_train)
clf.score(X_test, y_test)

0.9928424039205571

In [29]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
clf = RandomForestClassifier(max_depth=2, random_state=42).fit(X_train, y_train)
clf.score(X_test, y_test)

0.995292752127934

# Results/Discussion
Performances of both the models are very similar, with model scores over 0.99. Less number of features in the working dataset may be the reason behind the similar performances. The Random Forest model showed a little better accuracy score but the difference is too small to choose one model over another.